@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Martel&family=Montserrat&family=Roboto&display=swap');

:root {
  --primary-color: #555b6e;
  --secondary-color: #89b0ae;
  --tertiary-color: #bee3db;
  --light-color: #faf9f9;
  --apricot-color: #ffd6ba;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Martel', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--tertiary-color);
  background-image: url('assets/images/background4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 20px 20px 20px 60px;
  font-size: 60px;
  font-family: 'Catamaran', sans-serif;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
}

.nav-links p {
  margin: 20px;
  padding-bottom: 10px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.nav-active {
  text-decoration: underline;
}


.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 40px 40px 40px;
}

.about-content .title-div {
  width: 75%;

}

.about-content h1 {
  text-align: center;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 20px;
}

.about-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about-content p {
  font-size: 20px;
  text-align: center;
  margin: 0 20px;
  padding: 20px;
}

.about-image, .about-text {
  width: 50%;
}

.about-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#me-image {
  width: 300px;
  height: 500px;
  border-radius: 3px;
  

}

.projects-page {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-header {
  width: 75%;
  text-align: center;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 20px;
}

.intro-container {
  text-align: center;
  line-height: 2;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.projects-section {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.project {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 15px var(--primary-color);
}

.project:hover {
  box-shadow: 0px 0px 60px var(--secondary-color);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.image {
  border-radius: 5px;
}

.project-repo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  font-family: 'Catamaran', sans-serif;
  font-size: 40px;
  color: var(--tertiary-color);
  text-decoration: none;
}

.project-repo img {
  box-shadow: 0px 0px 20px var(--tertiary-color);
  border-radius: 50%;
}

.project-repo:hover {
  box-shadow: 0px 0px 20px var(--primary-color);
  border-radius: 20px;
  color:#f5aabf;
}

.resume-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.resume-header {
  width: 75%;
  text-align: center;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 20px;
}

.resume-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

#resume-link {
  text-decoration: none;
  color: #f5aabf;
}

#resume-link:hover {
  text-decoration: underline;
  text-shadow: #555b6e 0px 0px 10px;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px;
}

.list-header,
.list {
  text-align: center;
}

.list-item {
  padding: none;
}

.contact-section {
  display: flex;
  flex-direction: column;
  margin: 30px 30px 100px 30px;
}

.contact-header {
  margin-left: 30px;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.input-section, .message-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

label {
  margin-left: 20px;
  font-size: 20px;
}

input, textarea {
  width: 50%;
  align-content: flex-end;
  padding: 5px;
  border: 2px solid var(--secondary-color);
  border-radius: 3px;
  resize: none;
}

input[type=text]:focus,
input[type=email]:focus,
textarea[type=text]:focus {
  outline: none;
  border: 2px solid var(--tertiary-color);
  box-shadow: 0px 0px 25px #89b0ae;
}

.error-message {
  padding-right: 10px;
  text-align: right;
  text-decoration: underline;
  color: #f5aabf;
}

.submit-btn {
  margin: 30px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  width: 30%;
  align-self: center;
  background: none;
  cursor: pointer;
  color: var(--tertiary-color);
}

.submit-btn:hover {
  text-decoration: underline;
  color: #f5aabf;
  text-shadow: #ffd6ba 0px 0px 5px;
}

.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-link {
  padding: 10px;
}

.footer-link img {
  box-shadow: 0px 0px 20px var(--tertiary-color);
  border-radius: 50%;
}

.footer-link img:hover {
  box-shadow: 0px 0px 40px #f5aabf;
}

.attributes a {
  font-size: 12px;
  color: var(--secondary-color);
  padding: 10px;
}

/* Styling for Small Screens/Mobile Devices */
@media screen and (max-width: 768px) {

  header,
  .about-container,
  .projects-container,
  .project-item,
  .footer-icons,
  .resume-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .nav-links p {
    margin: 10px 5px;
    font-size: 20px;
  }

  .attributes {
    text-align: center;
    font-size: 8px;
  }

  .project-item{
    margin: 10px 5px;
  }

  .project {
    width: 75%;
  }

  .project-repo {
    font-size: 30px;
  }

  .about-content div,
  .contact-form,
  input,
  textarea {
    width: 100%;
  }

  .header-title,
  .about-text p,
  .contact-header,
  .error-message {
    text-align: center
  }

  .about-title,
  .contact-header {
    font-size: 30px;
    margin-top: 0;
  }

  .projects-header {
    font-size: 30px;
  }

  .header-title {
    margin: 10px;
    font-size: 40px;
  }
  label {
    margin-left: 0;
  }

  .contact-header {
    margin: 30px;
  }

  .input-section,
  .message-section {
    display: flex;
    flex-direction: column;
  }

  .submit-btn {
    align-self: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
  }

  .list {
    list-style: none;
    text-align: center;
    padding: 0;
  }
}